---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Transcription'
    value: page.transcription
  - label: 'Translation'
    value: page.translation
  - label: 'Summary'
    value: page.summary
  - label: 'Contents'
    value: page.contents
  - label: 'Keyword1 '
    value: page.keyword1
  - label: 'Keyword2 '
    value: page.keyword2
  - label: 'Keyword 3'
    value: page.keyword3
  - label: 'Keyword 4'
    value: page.keyword4
  - label: 'Keyword 5'
    value: page.keyword5
  - label: 'Keyword 6'
    value: page.keyword6
  - label: 'Keyword 7'
    value: page.keyword7
  - label: 'Keyword 8'
    value: page.keyword8
  - label: 'Keyword 9'
    value: page.keyword9
  - label: 'Keyword 10'
    value: page.keyword10
  - label: 'Keyword 11'
    value: page.keyword11
  - label: 'Keyword 12'
    value: page.keyword12
  - label: 'Keyword 13'
    value: page.keyword13
  - label: 'Keyword 14'
    value: page.keyword14
  - label: 'Keyword 15'
    value: page.keyword15
  - label: 'Keyword 16'
    value: page.keyword16
  - label: 'Object Type 1'
    value: page.object_type1
  - label: 'Object Type 2'
    value: page.object_type2
  - label: 'Object Type 3'
    value: page.object_type3
  - label: 'Shelfmark'
    value: page.shelfmark
  - label: 'Metadata Creators'
    value: page.metadata_creators
  - label: 'Repository City'
    value: page.repository_city
  - label: 'Roles'
    value: page.roles
  - label: 'Date'
    value: page._date
  - label: 'Place Origin'
    value: page.place_origin
  - label: 'Provenance Details'
    value: page.provenance_details
  - label: 'Language'
    value: page.language
  - label: 'Decoration'
    value: page.decoration
  - label: 'Layout'
    value: page.layout
  - label: 'Hand Script'
    value: page.hand_script
  - label: 'Dimensions'
    value: page.dimensions
  - label: 'Additional Info'
    value: page.additional_info
  - label: 'Notes Digitizer'
    value: page.notes_digitizer
  - label: 'Copyright Statement'
    value: page.copyright_statement
  - label: 'Terms of Use'
    value: page.terms_use
  - label: 'Images'
    value: page.images
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
